.button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: green;
}

.button:active {
    scale: 120%;
}